@use '../../../../shared/styles/color-pallete.scss' as *;
:host {
    width: 100%;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $white;
    padding: 1rem;
    .dark-mode {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        font-weight: 600;
        cursor: pointer;
        img {
            width: 1.5rem;
        }
    }
}
