.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .dark-mode {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        font-weight: 600;
        cursor: pointer;
        img {
            width: 1.5rem;
        }
    }
}
